@model MVCapp.Models.Work

@{
    ViewData["Title"] = "Add Work";
    List<MVCapp.Models.Work> Work = ViewBag.work;
}

<h2 class="page-heading">@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    
    <div>
        <label asp-for="Company"></label>
        <input asp-for="Company" />
        <span asp-validation-for="Company"></span>
    </div>

    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
 
    <partial name="_FormButtons" />
</form>

<section id="work">
    <h3 class="section-heading">Work</h3>
    <div class="divider"></div>
    <div class="resume-container">
        @foreach (MVCapp.Models.Work work in Work)
        {
        <ul class="course-list">
            <li class="thicc">@work.Company</li>
            <li class="small">@work.Title</li>
            <li class="thin">@work.Description</li>
        </ul>
        }       
    </div>
</section>