@model MVCapp.Models.Skill
@{
    ViewData["Title"] = "Skills";
}

<h2 class="page-heading">@ViewData["Title"]</h2>



<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    
    <div>
        <label asp-for="SkillName"></label>
        <input asp-for="SkillName" />
        <span asp-validation-for="SkillName"></span>
    </div>
 
    <div>
        <label asp-for="Icon"></label>
        <input asp-for="Icon" />
        <span asp-validation-for="Icon"></span>
    </div>

    <div class="form_buttons">
        <input type="submit" value="Add Skill">
    </div>
</form>